---
layout: default
title: glossário | 字汇
---

<h1>hsk 1</h1>
{% for item in site.hsk1 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2>{{ item.content | truncatewords: 5 }}</div>
{% endfor %}

<h1>hsk 2</h1>
{% for item in site.hsk2 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>hsk 3</h1>
{% for item in site.hsk3 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>hsk 4</h1>
{% for item in site.hsk4 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>hsk 5</h1>
{% for item in site.hsk5 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>hsk 6</h1>
{% for item in site.hsk6 %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>outras</h1>
{% for item in site.outras %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>classes-gramaticais</h1>
{% for item in site.classes-gramaticais %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}

<h1>radicais</h1>
{% for item in site.radicais %}
		<div class="conteudo"><h2><a href="{{ item.url | relative_url }}">{{ item.name }}</a></h2></div>
{% endfor %}