<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{"/assets/css/styles.css" | relative_url}}>
  </head>
  <body>
  	<center>
  		<a href="{{site.baseurl}}/"><img src={{"/assets/images/website-title.jpg" | relative_url}}></a>
  	</center>
    {% include navigation.html %}
    <div>
      {{ content }}
      {% for tag in page.tags %}
        {% assign tag_slug = tag | slugify: "raw" %}
        <div class="tag-link">
          <a
            href={{ site.baseurl | append: "/tags/" | append: tag_slug | append: "/" }}
            rel="category tag">
            #{{ tag }}
          </a>
        </div>
      {% endfor %}
  </div>
  </body>
</html>

