---
layout: default
---

<div>
	<div>
		{% for item in site.data.lista-textos %}
		{% if item.name == page.anterior %}
		<a href="{{ item.link | relative_url}}"> ← {{ item.name }} </a>
		{% endif %}
		{% endfor %}
	</div>
	<div>
	
	</div>
	<div>
	{% for item in site.data.lista-textos %}
		{% if item.name == page.proximo %}
		<a href="{{ item.link | relative_url}}">{{ item.name }} → </a>
		{% endif %}
	{% endfor %}
	</div>
</div>

<div>
<h1>{{ page.title }} | {{ page.title_pt}}</h1>
{% assign author = site.data.authors[page.author] %}
<h2><a href="{{author.link | relative_url}}"> {{ author.chinese_name}} | {{ author.name }}</a></h2>
</div>
{{ content }}

<div>
	<div>
		{% for item in site.data.lista-textos %}
		{% if item.name == page.anterior %}
		<a href="{{ item.link | relative_url}}"> ← {{ item.name }} </a>
		{% endif %}
		{% endfor %}
	</div>
	<div>
	<a href="/zhengshidu/index"> página inicial</a>
	</div>
	<div>
	{% for item in site.data.lista-textos %}
		{% if item.name == page.proximo %}
		<a href="{{ item.link | relative_url}}">{{ item.name }} → </a>
		{% endif %}
	{% endfor %}
	</div>
	
</div>