---
layout: default
---

<body>
<div class="conteudo">
	<div>
		<img class="author-intro-img" src="/authors/{{page.name}}.jpg">
	</div>
	
	<div class="author-intro">
		<div>
			<h1 class="conteudo">{{page.name}}<br>
			{{page.chinese_name}}<br>
			<p>
				{% assign filtered_textos = site.textos | where: 'author', page.name %}
				{% for item in filtered_textos %}
    				<a href="{{ item.url }}">{{ item.title }} | {{item.title_pt}}</a>
    			{% endfor %}
    		</p>
    		</h1>
    	</div>
    	
    	<div class="grid-container">
		{{ content }}
			<div class="notas">
			</div>

			{% for author in site.authors %}
				<div class="texts">
					<div class="container">
						<a href="{{author.url}}">
							<img class="text-authors-img" src="/authors/{{author.name}}.jpg">
							<div class="centered">
								<h2 class="author-name">{{ author.name }} <br> {{author.chinese_name}}</h2>
  							</div>
  						</a>
  					</div>
  				</div>
  			{% endfor %}
		</div>
	</div>
</div>
</body>