---
layout: default
---

<body>
<div>
	<div>
		<img src="{{site.baseurl}}/authors/{{page.name}}.jpg">
	</div>
	
	<div>
		<div>
			<h1>{{page.name}}<br>
			{{page.chinese_name}}<br>
			<p>
				{% assign filtered_textos = site.textos | where: 'author', page.name %}
				{% for item in filtered_textos %}
    				<a href="{{site.baseurl}}{{ item.url }}">{{ item.title }} | {{item.title_pt}}</a>
    			{% endfor %}
    		</p>
    		</h1>
    	</div>
    	
    	<div>
		{{ content }}
			<div>
			</div>

			{% for author in site.authors %}
				<div>
					<div>
						<a href="{{site.baseurl}}{{author.url}}">
							<img src="{{site.baseurl}}/authors/{{author.name}}.jpg">
							<div>
								<h2 class="author-name">{{ author.name }} <br> {{author.chinese_name}}</h2>
  							</div>
  						</a>
  					</div>
  				</div>
  			{% endfor %}
		</div>
	</div>
</div>
</body>